<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$cfg['charset']}" />
<meta http-equiv="Content-Language" content="{$cfg['charset']}" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta content="all" name="robots" />
<meta name="author" content="web@yjys.net,嘉挚科技" />
<meta name="Copyright" content="www.yjys.net,版权所有,请勿转载" />
<title>会员密码恢复中心-{$FR_网站标题}</title>
<meta name="keywords" content="找回密码,会员密码恢复中心" />
<meta name="description" content="{$FR_网站描述}" />
<link href="{$FR_网站网址}{$FR_系统目录}css/{$FR_网站样式}/common.css" rel="stylesheet" type="text/css">
</head>
<body>
{$FR_网站标准头}
<div class="navb">
	<div class="navdh"> 您现在的位置：<a href="{$FR_网站网址}">{$FR_网站名称}</a> >> 会员密码恢复中心</div>
</div>
<div class="container">
	<div class="passleft">
		<div class="tit"><span></span>会员密码恢复中心</div>
		<div class="con">
        {if $newpwd==1}
        <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td colspan="2">　　<font color="#FF0000" style="font-weight:bold">您的邮箱地址为：{$email}，正在修改登录密码……</font></td>
          </tr>
          <tr>
            <td style="border-right:1px #c1e3fe solid"><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <form name="lform" action="?do=email" method="post">
               <tr>
                <td align="right">输入新密码：</td>
                <td><input type="text" name="pwd" id="pwd" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">确认新密码：</td>
                <td><input type="text" name="repwd" id="repwd" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td><input name="email" type="hidden" value="{$email}" /><input name="skey" type="hidden" value="{$skey}" /><input type="submit" value="修改密码"  /></td>
              </tr>
              </form>
          </table>
          </td>
          <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <tr>
                <td>恭喜您，您的用户名已成功发送到您的邮箱，点<a href="{$loginurl}">这里登录</a>。</td>
              </tr>
          </table>
          </td>
          </tr>
          </table>
{elseif $qt==1}
		<table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td colspan="2">　　<font color="#FF0000" style="font-weight:bold">密保问题：{$question}</font></td>
          </tr>
          <tr>
            <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <form name="lform" action="?do=email" method="post">
              <tr>
                <td align="right">密保答案：</td>
                <td><input type="text" name="answer" id="answer" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">输入新密码：</td>
                <td><input type="text" name="pwd" id="pwd" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">确认新密码：</td>
                <td><input type="text" name="repwd" id="repwd" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td><input name="question" type="hidden" value="{$question}" />
                <input name="mobile" type="hidden" value="{$mobile}" />
                <input name="email" type="hidden" value="{$email}" /><input type="submit" value="修改密码"  /></td>
              </tr>
              </form>
          </table>
          </td>
          <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <tr>
                <td>知道用户名密码啦！点<a href="{$loginurl}">这里登录</a>。</td>
              </tr>
          </table>
          </td>
          </tr>
          </table>
 {elseif $show==1}
		<table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td colspan="2">　　<font color="#FF0000" style="font-weight:bold">用户名找回成功，如下：</font></td>
          </tr>
          <tr>
            <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
              <tr>
                <td align="right">用户名：</td>
                <td>{$login}</td>
              </tr>
              <tr>
                <td align="right">新密码：</td>
                <td>{$pwd}</td>
              </tr>
          </table>
          </td>
          <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <tr>
                <td>知道用户名密码啦！点<a href="{$loginurl}">这里登录</a>。</td>
              </tr>
          </table>
          </td>
          </tr>
          </table>
{elseif $mkey==1}
		<table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td colspan="2">　　<font color="#FF0000" style="font-weight:bold">手机验证码已经发送到您的手机上……</font></td>
          </tr>
          <tr>
            <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <form name="lform" action="?do=email" method="post">
               <tr>
                <td align="right">确认验证码：</td>
                <td><input type="text" name="mobilekey" id="mobilekey" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td><input name="mobile" type="hidden" value="{$mobile}" /><input type="submit" value="修改密码"  /></td>
              </tr>
              </form></td>
          </tr>
          </table>
          </td>
          <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <tr>
                <td>恭喜您，您的用户名已成功发送到您的手机上，点<a href="{$loginurl}">这里登录</a>。</td>
              </tr>
          </table>
          </td>
          </tr>
          </table>
{else}
<table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td width="50%">　　<font color="#FF0000" style="font-weight:bold">方法一：忘记密码使用邮箱找回</font>(账号、邮箱必填)</td>
            <td>　　<font color="#FF0000" style="font-weight:bold">方法二：忘记用户名找回密码</font>(邮箱、手机必须填写一项)</td>
        </tr>
          <tr>
            <td style="border-right:1px #c1e3fe solid"><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <form name="lform" action="?do=login" method="post">
               <tr>
                <td align="right">您的帐号：</td>
                <td><input type="text" name="login" id="login" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">邮箱地址：</td>
                <td><input type="text" name="email" id="email" value="" size="20" /> <font color="#FF0000">*</font></td>
              </tr>
              <tr>
                <td align="right">手机号码：</td>
                <td><input type="text" name="mobile" id="mobile" value="" size="20" /></td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td>注：输入注册时填写的手机号码，可立即接收新密码</td>
              </tr>
              {if $veriArray[4]==1}<tr>
                <td align="right">验 证 码：</td>
                <td><input type="text" name="verifycode" size="12" title="输入右侧图片所示字符,不区分大小写"> <img src="inc/verifycode.php"  alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle" style="cursor : pointer;" onClick="this.src=this.src+'?'+Math.random();" /></td>
              </tr>{/if}
              <tr>
                <td align="right">&nbsp;</td>
                <td><input type="submit" value="找回密码"  /></td>
              </tr>
              </form>
            </table>
            </td>
            <td><table width="400" border="0" align="center" cellpadding="2" cellspacing="0">
               <form name="eform" action="?do=email" method="post">
              <tr>
                <td align="right">邮箱地址：</td>
                <td><input type="text" name="email" id="email" value="" size="20" /> 密码修改连接将发送到您邮箱。</td>
              </tr>
              <tr>
                <td align="right">手机号码：</td>
                <td><input type="text" name="mobile" id="mobile" value="" size="20" /> 通过验证后，短信通知新密码。</td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td>注：输入注册时填写的手机号码，接收验证码</td>
              </tr>
              <tr>
                <td align="right">密保答案：</td>
                <td><input type="checkbox" name="question" id="question" value="1" /> 选择此项，以上两项二选一，通过验证可在线修改密码。</td>
              </tr>
              {if $veriArray[4]==1}<tr>
                <td align="right">验 证 码：</td>
                <td><input type="text" name="verifycode" size="12" title="输入右侧图片所示字符,不区分大小写"> <img src="inc/verifycode.php"  alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle" style="cursor : pointer;" onClick="this.src=this.src+'?'+Math.random();" /></td>
              </tr>{/if}
              <tr>
                <td align="right">&nbsp;</td>
                <td><input type="submit" value="下一步"  /></td>
              </tr>
              </form>
            </table></td>
          </tr>
</table>
{/if}        	
      </div>
	</div>
</div>
<div class="container">
	<div class="copyright"><center>{$FR_版权信息}</center></div>	
</div>
</body>
</html>