@charset "utf-8";
html {
	SCROLLBAR-FACE-COLOR: #527188; 
	SCROLLBAR-HIGHLIGHT-COLOR: #4a667a; 
	SCROLLBAR-SHADOW-COLOR: #4a667a; 
	SCROLLBAR-3DLIGHT-COLOR: #4a667a; 
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-TRACK-COLOR: #4a667a; 
	SCROLLBAR-DARKSHADOW-COLOR: #4a667a;}
body ,th,td{ font:normal 12px 宋体; }
/* 网站链接总的CSS定义:可定义内容为链接字体颜色、样式等 */
A {text-decoration: none;} /* 链接无下划线,有为underline */ 
A:link {COLOR: #000000; TEXT-DECORATION: none} /* 未访问的链接 */
A:visited {COLOR: #000000; TEXT-DECORATION: none} /* 已访问的链接 */
A:hover {color: #ff6600;text-decoration: none;} /* 鼠标在链接上 */ 
A:active {color: #000000;text-decoration: none;} /* 点击激活链接 */

A.highlight:link {COLOR: red; TEXT-DECORATION: none}
A.highlight:visited {COLOR: red; TEXT-DECORATION: none}
A.highlight:hover {COLOR: red}

A.thisclass:link {FONT-WEIGHT: bold; TEXT-DECORATION: none}
A.thisclass:visited {FONT-WEIGHT: bold; TEXT-DECORATION: none}
A.thisclass:hover {FONT-WEIGHT: bold}
A.navlink:link {COLOR: #000000; TEXT-DECORATION: none}
A.navlink:visited {COLOR: #000000; TEXT-DECORATION: none}
A.navlink:hover {COLOR: #003399; TEXT-DECORATION: none}

/* 栏目标题文字链接的CSS定义 */
a.Class:link {color: #ffffff;}
a.Class:visited {color: #ffffff;}
a.Class:hover {color: #449AE8;}
a.Class:active {color: #ffffff;}
.menuskin {BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND-IMAGE: url(../images/dvmenubg3.gif); VISIBILITY: hidden; FONT: 12px Verdana; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-REPEAT: repeat-y; POSITION: absolute; BACKGROUND-COLOR: #efefef}
.menuskin A {PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BEHAVIOR: url(inc/noline.htc); COLOR: black; TEXT-DECORATION: none}
#mouseoverstyle {BORDER-RIGHT: #597db5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #597db5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #597db5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #597db5 1px solid; BACKGROUND-COLOR: #c9d5e7}
#mouseoverstyle A {COLOR: black}
.menuitems {PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px}
BODY {line-height: 150%;background:#bdd9ed;MARGIN-TOP: 5px; margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
INPUT {BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; color:#666}
TEXTAREA {BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px;color:#666}
SELECT {BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px;color:#000}
SPAN {FONT-SIZE: 12px; POSITION: static}
br { width:100%; height:10px; line-height:10px;}
.twidth {WIDTH: 760px}
.content {FONT-SIZE: 14px; MARGIN: 5px 20px; LINE-HEIGHT: 140%; FONT-FAMILY: Tahoma,宋体}
.aTitle {FONT-WEIGHT: bold; FONT-SIZE: 15px}
TD.forumHeaderBackgroundAlternate {BACKGROUND-IMAGE: url(../images/admin_top_bg.gif); COLOR: #000000; BACKGROUND-COLOR: #799ae1}
#TableTitleLink A:link {COLOR: #ffffff; TEXT-DECORATION: none}
#TableTitleLink A:visited {COLOR: #ffffff; TEXT-DECORATION: none}
#TableTitleLink A:active {COLOR: #ffffff; TEXT-DECORATION: none}

#TableTitleLink A:hover {COLOR: #ffffff; TEXT-DECORATION: underline}
TD.forumRow {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #f1f3f5; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
TD.amrow {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #F7F7F7; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
/*
TH {
FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/admin_bg_1.gif); COLOR: white; BACKGROUND-COLOR: #4455aa

}*/
TD.bodytitle {BACKGROUND-IMAGE: url(../images/admin_bg_2.gif)}
TD.bodytitle1 {BACKGROUND-IMAGE: url(../images/admin_bg_3.gif)}
TD.tablebody1 {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #bebbdb; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
TD.forumRowHighlight {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #E4EDF9; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
.tableBorder1 {WIDTH: 98%; }
.helplink {FONT: 10px verdana,arial,helvetica,sans-serif; CURSOR: help; TEXT-DECORATION: none}
TD {FONT-FAMILY:宋体;FONT-SIZE: 9pt;line-height: 150%; }
Button{FONT-SIZE: 9pt;HEIGHT: 20px;}
.title{background:#449AE8;color: #ffffff;font-weight: normal;}
.border{border: 1px solid #449AE8;}
.tdbg{background:#f0f0f0;line-height: 120%;}
.tdbg2{background:#E0EEF5;line-height: 120%;}
.Glow /*　标题文字发光效果定义，白字深蓝底 */
{
filter: Glow(Color=#0F42A6, Strength=1);Dropshadow(Color=#0F42A6, OffX=1, OffY=1,); WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 20px
}
.topbg /*　标题背景单元格定义，白字深蓝底 */
{
	background:#0650D2;color:#FFFFFF;
/*	font-weight:bold;text-align: centen; */
}
.topbg2 /*	浅色背景定义，用于首页细线 */
{background:#449AE8;}
.bgcolor {background-color: #E1F4EE;}
.copyright {text-align:center}
SPAN {FONT-SIZE: 12px; POSITION: static}
A.highlight {COLOR: red; TEXT-DECORATION: none}
A.highlight:hover {COLOR: red}
A.thisclass {FONT-WEIGHT: bold; TEXT-DECORATION: none}
A.thisclass:hover {FONT-WEIGHT: bold}
A.navlink {COLOR: #000000; TEXT-DECORATION: none}
A.navlink:hover {COLOR: #003399; TEXT-DECORATION: none}
.twidth {WIDTH: 760px}
.content {FONT-SIZE: 14px; MARGIN: 5px 20px; LINE-HEIGHT: 140%; FONT-FAMILY: Tahoma,宋体}
.aTitle {FONT-WEIGHT: bold; FONT-SIZE: 15px}
TD.bodytitle1 {BACKGROUND-IMAGE: url(../images/admin_bg_3.gif)}
TD.tablebody1 {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #bebbdb; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
TD.amtd {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #E4EDF9; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
.tableBorder {WIDTH: 98%;word-break:break-all;}
.mt10 {margin-top:10px;}
.tableBorder1 {WIDTH: 98%; }

.helplink {FONT: 10px verdana,arial,helvetica,sans-serif; CURSOR: help; TEXT-DECORATION: none}
.ButtonList {BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #ffffff 2px solid; BORDER-LEFT: #ffffff 2px solid; CURSOR: default; BORDER-BOTTOM: #999999 2px solid; BACKGROUND-COLOR: #e6e6e6}
.huiby {background-color: #efefef;}
.style1 {color: #0066CC;}
.bgc /* 管理后台左边菜单背景颜色 */
{background-color: #4a667a; }
.asm /* 管理后台左边菜单定义 */
{width:158px; margin:0 3px;}
.asms
{background:url(../images/title_bg_quit.gif); font-weight:bold; height:25px; padding:4px 0 0 10px;}
.ys /* 顶1px */
{margin-top:1px;}
.asmd{margin-top:1px;background:url(../images/title_bg_d.gif);font-weight:bold; height:25px; padding:4px 0 0 10px; color:#215dc6; position: relative;}
.asmd a:link,.asmd a:visited{color:#215dc6;text-decoration:none;}
.asmd a:hover,.asmd a:active{color:#428eff; text-decoration:none;}
.asmu{margin-top:1px;background:url(../images/title_bg_u.gif);font-weight:bold; height:25px; padding:4px 0 0 10px; color:#215dc6; position: relative;}
.asmu a:link,.asmu a:visited{color:#215dc6;text-decoration:none;}
.asmu a:hover,.asmu a:active{color:#428eff; text-decoration:none;}
.asmc{padding:4px 0 0 15px; float:left; display:none;border:1px #FFFFFF solid; border-top:none; background-color:#d6dff7;}
.asmc ul {margin:0;height:20px; line-height:20px;}
.asma{padding:2px 0 0 15px; float:left;border:1px #FFFFFF solid; border-top:none; background-color:#d6dff7;}
.asma ul {margin:0;height:20px; line-height:20px;}
.asmm{margin-top:1px;background:url(../images/admin_left_9.gif);font-weight:bold; height:25px; padding:4px 0 0 10px; color:#215dc6; position: relative;}
/*后台管理左导航菜单定义结束*/
.border {margin:5px 5px 0 5px; padding:1px;border:1px #183789 solid;width:810px; background-color:#FFFFFF; height:inherit}
.border ul{margin:5px;}
/* 后台管理员权限设置样式 */
.au { margin:4ox 0;padding:4px 4px 0 4px;width:96%;border-bottom:1px #fff solid;}
.aub {font-weight:bold;}
.au ul {}
.au ul li{float:left;height:25px; font-size:12px;color:#000; width:158px;}
.ccc {color:#ccc}
.000{color:#000}
.000080{color:#000080}
.008000{color:#008000}
.008080{color:#008080}
.800000{color:#800000}
.800080{color:#800080}
.808000{color:#808000}
.808080{color:#808080}
.fff{color:#fff}
.ff0{color:#ff0}
.0f0{color:#0f0}
.f0f{color:#f0f}
.0ff{color:#0ff}
.f00{color:#f00}
.00f{color:#00f}
.cf7{background-color:#F7F7F7;}
.mt6{ margin-top:6px;}

a { color: #135294; text-decoration: none; }
a:hover { color: #ff6600; text-decoration: underline; }
tr {background:#f1f9ff;}
td { height:18px; line-height:20px; font-size:12px; border:1px solid #fff; color:#4a667a; padding:2px; }
.td_title,th {
	height:24px;
	line-height:24px;
	background:#fff;
	color:#4a667a;
	font-weight:bold;
	border:1px solid #fff;
	padding-left:20px;
	text-align:left;
}
TD.td1 { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #F1F3F5; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; }
TD.td2 { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #E4EDF9; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; }
.radio {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.checkbox {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.inputl {width:100px; height:15px; border:1px #99CCFF solid; background:url(../../skin/System/tabbg.gif) top repeat-x;}
.inputr {width:200px; height:15px; border:1px #99CCFF solid; background:url(../../skin/System/tabbg.gif) top repeat-x;}
.inputb {background:url(../../skin/System/header_bg.gif) center repeat-x;border:1px #99CCFF solid; color:#FFFFFF; font-size:12px; padding:4px 4px 0 4px;}
.inputs{ width:auto;border:1px #bcccf8 solid; background:url(../../skin/System/tit_bg.gif) center repeat-x; height:20px; padding:2px 0px 0 0px; font-size:12px; color:#000; cursor:pointer;}
.inputcl{border:1px #bcccf8 solid; background:url(../../skin/System/tit_bg.gif) center repeat-x; height:40px; padding:2px 2px 0 2px; font-size:12px;}
.memmenul{border:1px #ABCEE2 solid; margin:4px;}
.memmenul form{margin:0px; padding:0;}
.leftmenutit {padding:5px; background-color:#03398F;line-height:normal;}
.leftmenutit span {font-size:14px; font-weight:bold; color:#FFFFFF; padding-left:20px; margin:0;}
.tabnoboder td{height:22px; line-height:20px; background:#EEF7FD; font-size:12px; border:0px solid #fff; color:#135294; padding:0px; }

.top {width:100%; height:89px; background:url(../images/mhbg3.gif) #4a667a;}
.logo {float:left;width:320px; font-size:18px; font-weight:bold; color:#FFFFFF; padding:16px 10px; overflow:hidden;}
.topdl {width:auto; height:20px; background-color:#6689a3; FILTER: alpha(opacity=80); margin:10px 10px 0 10px; float:left; color:#FFFFFF; border:1px #587991 solid; padding:2px 10px; text-align:left;}
.topdl li{width:auto; float:left; overflow:hidden; list-style:none}
.topdl li marquee{margin:0; padding:0;}
.topdl li a{color:#FFFFFF;}

.tabm {clear: both;width:1010px;overflow:hidden;line-height:normal;}
.tabm ul {float:left; width:auto;margin:0 20px !important;margin:0 20px 0 10px;padding:4px 0px 0px 0px;list-style:none;}
.tabm li {display:inline;margin:0;padding:0; cursor:pointer;}
.tabm a {float:left;background:url(../images/tableftm3.gif) no-repeat left -54px;margin:0;padding:0 0 0 5px;text-decoration:none;font-size:14px;font-weight:bold;color:#FFFFFF; text-decoration:none;}
.tabm a span {float:left;display:block;background:url(../images/tabrightm3.gif) no-repeat right -54px;padding:7px 15px 5px 10px;color:#FFF;font-size:14px;font-weight:bold;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabm a span {float:none;}
/* End IE5-Mac hack */
.tabm a:hover span {color:#FFF}
.tabm a:hover {background-position:0% -14px; text-decoration:none;}
.tabm a:hover span {background-position:100% -14px;}
.tabms a {background-position:0% -14px;}
.tabms a span {background-position:100% -14px;}

.leftiframe {margin:0; padding:0; width:100%; height:456px!important;height:95%; border:none inherit; background:#081250;}
.leftmenu_title {padding:0;}
.leftmenu_title span {font-size:14px; font-weight:bold; color:#FFFFFF; padding-left:20px; margin:0;}
.menu {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FILTER: alpha(opacity=100); PADDING-BOTTOM: 10px; COLOR: #fff; PADDING-TOP: 10px; POSITION: relative;}
#menubar {background:#527188;FLOAT: left;}
#menubar UL {LIST-STYLE-TYPE: none;MARGIN:0px; padding:0;}
#menubar UL LI {FLOAT: left;MARGIN-LEFT: 0px;}
#menubar A {WIDTH: 110px; MARGIN: 0px; DISPLAY: block; PADDING-left:20px;*PADDING-left:20px!important;*PADDING-left:20px; FONT-SIZE: 12px; FLOAT: left; COLOR: #fff; PADDING-TOP: 5px; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none}
#menubar A:hover {WIDTH: 110px;MARGIN: 0px;DISPLAY: block; PADDING-left:20px;*PADDING-left:20px!important;*PADDING-left:20px; FONT-SIZE: 12px; BACKGROUND:#6689a3; FILTER: alpha(opacity=80); FLOAT: left; color:#FFFFFF; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none}
.mindex td { height:24px; line-height:20px; background: #4a667a; font-size:12px; border:none; color:#135294; padding:0px; }
.styles{width:auto; height:10px; float:right;}
.styles li{width:10px; height:6px; margin:1px;cursor:pointer; line-height:10px;}
.styles li img{padding:1px; border:solid 1px #FFFFFF;}

.sffocus {
background: #FFFFCC; /*----for IE----*/
color:#000;
}
textarea:focus, input:focus {
background: #FFFFCC; /*----for firefox......----*/
color:#000;
}
.fshow {
	border: 2px solid #527188;
	background-color: #f1f9ff;
	padding: 2px;
	width: 360px;
	line-height:160%;
}
.pl20{padding-left:20px;text-align:left;}
.mt6{ margin-top:6px;}
/*分页样式*/
.page{width:auto;}
.page span{border:#C4D8ED 1px solid; background-color:#EEF7FD; font-size:12px; color:#000; line-height:150%; padding:2px 4px; margin:4px;}
.page a{border:#C4D8ED 1px solid; background-color:#fff; font-size:12px;  color:#000; line-height:150%; padding:2px 4px; margin:4px; text-decoration: none;}
.tdpage{height:22px;line-height:22px;background:#fafafa;border:1px solid #fff;padding-right:20px;text-align:center;}
/*标签编辑样式*/
.label{background-color:#EEF7FD;word-break:break-all;padding:0 6px 6px 6px; margin:6px;}
.label fieldset{padding:0px;margin:0px;}
.label form{padding:0px;margin:0px;border:0px;}
.label li{float:left;overflow:hidden;list-style:none;line-height:24px; margin-top:4px;}
.label li.left{width:20%; text-align:right;}
.label li.right{width:80%;}
.label div.labelb{width:100%; text-align:center; height:24px; line-height:24px;}

.au { margin:4ox 0;padding:4px 4px 0 4px;width:96%;border-bottom:1px #fff solid;}
.aub {font-weight:bold;}
.au ul {}
.au ul li{float:left;height:25px; font-size:12px;color:#000; width:158px;}

.managecenter{margin: 5px;}
.welcome{line-height: 300px; font-size: 30px; text-align: center;}