<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$cfg['charset']}" />
<meta http-equiv="Content-Language" content="{$cfg['charset']}" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta content="all" name="robots" />
<meta name="author" content="web@yjys.net,嘉挚科技" />
<meta name="Copyright" content="www.yjys.net,版权所有,请勿转载" />
<meta name="keywords" content="{$c_keywords}" />
<meta name="description" content="{$c_description}" />
<title>{$c_name}-{$FR_网站标题}</title>
<link href="{$FR_网站网址}{$FR_系统目录}css/{$FR_网站样式}/common.css" rel="stylesheet" type="text/css">
<link rel="icon" href="{$FR_系统目录}favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$FR_系统目录}favicon.ico" type="image/x-icon" />
</head>
<body>
{$FR_网站标准头}
<div class="navb">
	<div class="navdh"> 您现在的位置：<a href="{$FR_网站网址}">{$FR_网站名称}</a> >> {$c_name}</div>
</div>
<div class="container">
	<div class="coms_left">
		<div class="coms_jobs">
			<div class="tit"><span></span>兼职招聘</div>
			<div class="con">{$FR_兼职招聘}</div>
		</div>
		<div class="coms_hotjob">
			<div class="tit"><span></span>热招职位</div>
			<div class="con">{$FR_热招职位}</div>
		</div>
        <div class="coms_hotjob">
			<div class="tit"><span></span>推荐企业</div>
			<div class="con">{$FR_推荐企业}</div>
		</div>
	</div>
	<div class="coms_right">
		<div class="coms_info">
			<div class="tit"><span></span>最新兼职人才</div>
			<div class="con">{$FR_最新兼职人才}</div>
		</div>
		<div class="coms_intro">
			<div class="tit"><span><a href="{$FR_系统目录}more/commondresume.php" target=_blank>更多>></a></span>最新高级人才</div>
			<div class="con">{$FR_最新高级人才}</div>
		</div>
		<div class="coms_contact">
			<div class="tit"><span><a href="{$FR_系统目录}more/newhire.php" target=_blank>更多>></a></span>最新高级职位</div>
			<div class="con">{$FR_最新高级职位}</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="copyright"><center>{$FR_版权信息}</center></div>	
</div>
</body>
</html>