<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$cfg['charset']}" />
<meta http-equiv="Content-Language" content="{$cfg['charset']}" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta name="author" content="web@yjys.net,嘉挚科技" />
<meta name="Copyright" content="www.yjys.net,版权所有,请勿转载" />
<meta name="keywords" content="{$c_keywords}，{$s_name}" />
<meta name="description" content="{$s_name}，{$c_description}" />
<title>{$s_name}-{$c_name}-{$FR_网站标题}</title>
<link href="{$FR_网站网址}{$FR_系统目录}css/{$FR_网站样式}/common.css" rel="stylesheet" type="text/css">
</head>
<body>
{$FR_网站标准头}
<div class="navb">
	<div class="navdh">{getarticletype($cid,0)}</div>
</div>
<div class="container">
	<div class="news_left">
		<div class="newshmain">
			<div class="tit"><span></span>推荐文章</div>
			<div class="con">{$FR_推荐文章}</div>
		</div>
		<div class="newshmain">
			<div class="tit"><span></span>最新文章</div>
			<div class="con">{$FR_最新文章}</div>
		</div>
		<div class="newshmain">
			<div class="tit"><span></span>热点文章</div>
			<div class="con">{$FR_热点文章}</div>
		</div>
	</div>
	<div class="news_right">
		<div class="newsmain">
			<div class="tit"><span></span>图片资讯</div>
			<div class="con">
				<div class="newspic">{$FR_栏目图片资讯}</div>
			</div>
		</div>
		<div class="newssearhdh">{getarticlesearch(-1,0)}</div>
		<div class="newsmains">
			<div class="tit"><span></span>{$s_name}列表</div>
			<div class="con">{getlastarticlelist(-1,-1,1,'n_addtime desc',20,'_blank',5,20)}</div>
        </div>
	</div>
</div>
<div class="container">
	<div class="copyright"><center>{$FR_版权信息}</center></div>	
</div>
</body>
</html>